@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Gajraj One";
    src: url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
}
